
  <h1 class="stickypage">Quotehort Four</h1>
  <section>
    <ul class= "stickynotes_container">
      <% @quotes.each do |quote| %>
        <li class="stickynote ">
              <%= link_to "#{quote.body}", home_quote_path(quote), :class => "stickyquote" %>
              <%= link_to "~#{quote.speaker.name}", home_person_path(quote.speaker), :class => "stickyspeaker" %>
        </li>
      <% end %>
    </ul>
  </section>
