<div class="welcomesticky">
  <h1 class="welcomepage welquote">
    <%= link_to "Enter", home_path %> if you dare...<%= @random_quote.body.downcase %></h1>
  <h2 class="welcomepage welspeaker">~ <%= @random_quote.speaker.name %></h2>
</div>
