<div class="container text-center">
  <div class="welcomesticky">
    <h1 class="welcomepage"><%= @random_quote.body %></h1>
    <h2 class="welcomepage">~ <%= @random_quote.speaker.name %></h2>
  </div>
  <a href="/home" class="welcomepage">Enter</a>
</div>
