@import "bootstrap-sprockets";
@import "bootstrap";
@import "compass";
@import url('https://fonts.googleapis.com/css?family=Reenie Beanie|Permanent Marker|');

//global
body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  background-repeat: repeat;
  background-image: url("cork-board.jpg");
  min-height: 400px;
}

header {
  height: 45px;
  max-height: 45px;
  position: relative;
  background-color: #3c404b;
  background: -webkit-linear-gradient(#56585D, #2F3034);
  background: -moz-linear-gradient(#56585D, #2F3034);
  background: linear-gradient(#56585D, #2F3034);
  border-bottom: 1px solid #000;
}

// detail page

h1.detail {
  font-family: Permanent Marker;
  font-size: 1cm;
  padding-top: 20px;
  padding-bottom: 20px;
}

.detailholder h3 {
  font-weight: bold;
}

.detailholder {
  width:90%;
  background-image: url('paper.jpg');
  background-size: cover;
  background-repeat: repeat;
  margin: 0 auto;
}

.detailholder td {
  font-size: 18px;
}

.detailtable {
  margin: 0 auto;
  width: 80%;
}

.detailtable td.quote, td.name, td.date {
  width: 250px;
}

.detailtable .quote_button {
  width: 27px;
  height: 27px;
  padding-right: 22px;
}

.self_destruct_button {
  background-color: #DD0000;
  color: red;
  margin-top: 50px;
  margin-bottom: 20px;
}

.self_destruct_button:hover {
  background-color: #DD0000;
  color: red;
  margin-top: 50px;
}

.self_destruct_button a{
  color: white;
}

.self_destruct_button a:hover{
  color: white;
  text-decoration: none;
}

//dropdown menu for choosing a person


.btn-default:focus {
  background-color: transparent;
}

.btn-default.active
{
  background-color: transparent;
}

select#person_id {
  margin: 0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  background: none;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

//header menu (collapsable)
.menu-holder {
  height: 45px;
  max-height: 45px;
  position: relative;
  background-color: #3c404b;
  background: -webkit-linear-gradient(#56585D, #2F3034);
  background: -moz-linear-gradient(#56585D, #2F3034);
  background: linear-gradient(#56585D, #2F3034);
  border-bottom: 1px solid #000;
}

//for when screen is smaller
@media(max-width: 589px) {

  .menu {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .dropdown .glyphicon {
    display: none;
  }

  .dropdown .menu-button {
    width: 130px;
  }

  .hidden {
    display: none;
  }


  #hamburger {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    transform: translateY(-50%);
    background-color: transparent;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 2px;
    }

  #hamburger .menu-glyph {
      font-size:18px;
      color: #F8F8F8;
    }

  .menu-button-holder.hamburger {
    height: 45px;
  }

  #hamburger:hover {
      background-color: transparent;
    }

  #hamburger:hover * {
      color: #CACBC7;
    }
}

@media (min-width: 590px){
  #back_to_index_button {
    padding-left: 0px;
  }

  div.hamburger {
    display: none;
  }

  .menu {
    display: inline-block !important;
    height:45px;
    top: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .menu-button {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 2px;
  }

  .menu-button:hover {
    background-color: transparent;
  }

  .menu-button:hover * {
    color: #CACBC7;
  }

  .menu-glyph {
    font-size:13px;
    color: #F8F8F8;
  }

  .menu-word {
    padding-left: 3px;
    color: #F8F8F8;
  }

  .menu-button-holder {
    float: left;
    padding-left: 3px;
    padding-right: 10px;
    margin-bottom: 0px;
  }
}

//newperson
div.new-person {
  background-image: url("blank-sticky-note.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 40 auto;
  margin-right: 40 auto;
  margin-top: 50px;
  min-width: 300px;
  min-height: 200px;
  max-width: 500px;
  max-height: 320px;
}

div.new-person h2{
  font-family: Permanent Marker;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.new-person label {
  font-size: 15px;
}

input.btn#create-person-button {
  margin: 0 auto;
  display: block;
}

form#new_person.new_person {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 20px;
}

textarea#person_bio.form-control {
  resize: none;
}

//stickynotes

#cancel_button.cancel {
  position: fixed;
  font-size: 15px;
  font-family: Permanent Marker;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 5px;
}


#cancel_button.cancel span {
  padding-top: 5px;
  top: 50%;
  left: 50%;
}

.create_quote_button {
  margin: 2px;
}

div.stickypage {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.stickynotes_container {
  width: 90%;
  position: relative;
  margin: 0 auto;
}

h1.stickypage {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Permanent Marker;
  font-size: 1.5cm;
}

textarea#quote_body.stickyquote {
  background-color: transparent;
  border: none;
  overflow: hidden;
  padding-bottom: 4.2em;
  resize: none;
}

textarea#quote_body.stickyquote:focus {
  outline: none;
}

select#quote_speaker_id {
  width: 95px;
  margin: 0 auto;
  font-size: 15px;
  margin-top: 10px;
}

.stickyspeaker {
  text-decoration:none;
  color:#000;
  display:block;
  font-family: Reenie Beanie,arial,sans-serif;
  font-size: 180%;
  font-weight: bold;
  height:2em;
  width:10em;
  padding-bottom:2em;
  color:#000;
}

.stickyquote {
  text-decoration:none;
  color:#000;
  display:block;
  font-family: Reenie Beanie, arial,sans-serif;
  font-size: 200%;
  font-weight: bold;
  height:5em;
  width:9em;
  padding-top:2em;
  padding-bottom:5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: -5px;
  color:#000;
}

.stickynote {
  font-size:100%;
  font-weight:normal;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  list-style:none;
  margin:30px;
  float:left;
}

.stickynote a:hover {
  text-decoration: none;
  color: #CACBC7;
}

.stickynote:first-child {
  background-color: #FCF9D2;
}

.stickynote:nth-child(even){
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background-color: #DFEED1;
}

.stickynote:nth-child(odd) {
  background-color: #FCF9D2;
}

.stickynote:nth-child(3n){
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background-color: #CCE9F1;
}

.stickynote:nth-child(5n){
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

.stickynote:hover,ul li:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
