@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Reenie Beanie|Open Sans|');

//global
body{
  font-family:arial,sans-serif;
  font-size:100%;
  // margin:0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  background-repeat: repeat;
  background-image: url("cork-board.jpg");
  min-height: 400px;
}

.contentholder {
  postion: relative;
  width: 85%;
  margin: 0 auto;
}

header {
  height: 45px;
  max-height: 45px;
  position: relative;
  background-color: #3c404b;
  background: -webkit-linear-gradient(#56585D, #2F3034);
  background: -moz-linear-gradient(#56585D, #2F3034);
  background: linear-gradient(#56585D, #2F3034);
  border-bottom: 1px solid #000;
}
//dropdown menus

select#person_id {
  padding:3px;
  margin: 0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  padding:10px;
  margin: 10px;
  font-size: 15px;
}


//stickynotes

.stickyspeaker {
  text-decoration:none;
  color:#000;
  display:block;
  font-family: Reenie Beanie,arial,sans-serif;
  font-size: 180%;
  font-weight: bold;
  height:2em;
  width:10em;
  padding-bottom:2em;
  color:#000;
}

.stickyquote {
  text-decoration:none;
  color:#000;
  display:block;
  font-family: Reenie Beanie, arial,sans-serif;
  font-size: 200%;
  font-weight: bold;
  height:5em;
  width:9em;
  padding-top:2em;
  padding-bottom:5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: -5px;
  color:#000;
}

.welquote a {
  font-weight: bold;
  color: black;
}

.welquote a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: grey;
}

.stickynote {
  font-size:100%;
  font-weight:normal;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  list-style:none;
  margin:30px;
  float:left;
}

.stickynote:nth-child(even){
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background-color: #DFEED1;
}

.stickynote:nth-child(odd) {
  background-color: #FCF9D2;
}

.stickynote:nth-child(3n){
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}

.stickynote:nth-child(4n){
  background-color: #CCE9F1;
}
.stickynote:nth-child(5n){
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

.stickynote:hover,ul li:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.stickynotes_container {
  width: 100%;
  position: relative;
}

// welcomepage

a.welcomepage {
  display: block;
  font-size: 20px;
}

.welquote.welcomepage {
  text-align: center;
  max-width: 45%;
  width: 45%;
  position: absolute;
  top: 28%;
  left: 25%;
  transform: translateY(-50%);
  padding: 20px;
  padding-bottom: 5px;
  resize: vertical;
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  font-size: 25px;
  font-family: Reenie Beanie;
  overflow: hidden;
}

.welspeaker.welcomepage {
  text-align: center;
  width: 40%;
  max-width: 40%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  padding: 20px;
  resize: vertical;
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  font-size: 25px;
  font-family: Reenie Beanie;
}

.welcomesticky {
  background-image: url("twostickies.png");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  min-height: 400px;
  min-width: 200px;
  max-height: 470px;
  max-width: 580px;
  position: relative;
  margin: 0 auto;
  resize: vertical;
  overflow: auto;
  margin-top: 20px;
}
